.app {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 2em;
}

.button-row {
    width: 125px;
    margin-bottom: 1.25em;
}

/* h4{
    height: 7px;
    padding: 15px;
}

.sujata{
    height: 7px;
    padding-top: 15px;
} */
